body {
    background-color: #EEFBD6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

a{border:none;}

 .zi04{
   color:ED3213;
   font-size:12px;
 }
 
  .zi06{
   color:06840C;
   font-size:12px;
   font-weight:bold;
   line-height: 22px;
 }
  .zi07{
   color:DF18E1;
   font-size:12px;
   line-height: 22px;
 }
 

  .zi09{
   color:02797F;
   font-size:12px;
   line-height: 22px;
 }
 