<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<script language="javascript" src="../javascript/prototype.js"></script>

<title>扫雷</title>

</head>

<body>
<div id="panel" class="panel">
	<div class="title"><img src="../images/img/sl02.gif" /></div>
	<div class="close"><img id="info_open_pic" onclick="open_info()" src="../images/img/sl13.gif" /><img onclick="close_sl_mod()" src="../images/img/sl14.gif" /></div>
	<div class="top"><img src="../images/img/sl01.gif"></div>
	<div class="body">
		<div class="left">
			<div class="gs" id="gs"><b>#points#</b></div>
			<div class="leiqu_title">
				<table width="286">
					<tr>
					<td width="40%"><div style=" text-align:right; height:28px; width:116px;background:url(../images/img/sl16.gif)"><div id="leinum" style="position:relative;font-size:16px; right:18px; font-weight:bold; color:#FFFFFF; line-height:28px;">#leinum#</div></div></td>
					<td width="20%"></td>
					<td width="40%"><div style=" text-align:right;height:28px; width:116px;background:url(../images/img/sl15.gif)"><div id="fhtime" style="position:relative; right:18px; font-size:16px; font-weight:bold; color:#FFFFFF; line-height:28px;">#fhtime#</div></div></td>
					</tr>
			  </table>
			  <div id="leiqu01">
				#sl_pic#
			  </div>
			</div>
		</div>
		<div class="right">
			<div id="gonggao" class="gonggao">#gonggao#</div>
			<div id="prize" class="prize">
					#prize#
			</div>
		</div>
	</div>
</div>
</body>
</html>
