<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<script language="javascript" src="../javascript/prototype.js"></script>
<link href="../css/iframe.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body {
	margin-left: 15px;
	margin-top: 15px;
	
	margin-right: 0px;
	margin-bottom: 0px;
	font-size:12px;
}
#Layer1 {
	position:absolute;
	left:413px;
	top:75px;
	width:27px;
	height:26px;
	z-index:1;
}
-->
</style>
<!--[if IE 6]>
<script type="text/javascript">try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {}
</script>
<![endif]-->
</head>
<!--background-image:url(../images/ui/map/map.jpg)-->
<body style="margin:0px;" oncontextmenu="event.returnValue=false" onkeydown="KeyDown()">

<div style="width:786px;height:321px;margin-left:5px;margin-top:5px; background-image:url(../images/ui/map/map6.jpg)" oncontextmenu="event.returnValue=false" onkeydown="KeyDown()"></div>

<div style="position:absolute;left:329px;top:255px;border:0px;cursor:pointer;" title="新手训练营" onclick="copyWord('新手基地');goMap(#1#,1);">
<div style="width:83px; height:24px;background:url(../images/ui/map1/#map1#.png); _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='image', src='../images/ui/map1/#map1#.png'));
"></div>
<!--img src="../images/ui/map1/#map1#.png" alt="新手训练营"/--></div>

	
<div style="position:absolute;left:236px;top:192px;border:0px;cursor:pointer;" title="妖精森林" onclick="copyWord('妖精钥匙');goMap(#2#,2);">
<div style="width:83px; height:24px;background:url(../images/ui/map1/#map2#.png); _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='image', src='../images/ui/map1/#map2#.png'));
"></div></div>

	
<div style="position:absolute;left:334px;top:155px;border:0px;cursor:pointer;" title="潮汐海涯" onclick="copyWord('潮汐钥匙');goMap(#3#,3);">
<div style="width:83px; height:24px;background:url(../images/ui/map1/#map3#.png); _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='image', src='../images/ui/map1/#map3#.png'));
"></div></div>

<div style="position:absolute;left:475px;top:135px;border:0px;cursor:pointer;" title="海底世界" onclick="copyWord('海底世界');goMap(#16#,16);">
<div style="width:83px; height:24px;background:url(../images/ui/map1/#map16#.png); _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='image', src='../images/ui/map1/#map16#.png'));
"></div></div>
	
<div style="position:absolute;left:37px;top:38px;border:0px;cursor:pointer;" title="巨石山脉" onclick="copyWord('巨石钥匙');goMap(#4#,4);">
<div style="width:83px; height:24px;background:url(../images/ui/map1/#map4#.png); _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='image', src='../images/ui/map1/#map4#.png'));
"></div></div>


<div style="position:absolute;left:644px;top:282px;border:0px;cursor:pointer;" title="黄金陵" onclick="copyWord('黄金钥匙');goMap(#5#,5);">
<div style="width:83px; height:24px;background:url(../images/ui/map1/#map5#.png); _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='image', src='../images/ui/map1/#map5#.png'));
"></div></div>

				
<div style="position:absolute;left:28px;top:148px;border:0px;cursor:pointer;" title="炽热沙滩" onclick="copyWord('炽热钥匙');goMap(#6#,6);">
<div style="width:83px; height:24px;background:url(../images/ui/map1/#map6#.png); _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='image', src='../images/ui/map1/#map6#.png'));
"></div></div>

	
<div style="position:absolute;left:234px;top:72px;border:0px;cursor:pointer;" title="尤玛火山" onclick="copyWord('火山钥匙');goMap(#7#,7);">
<div style="width:83px; height:24px;background:url(../images/ui/map1/#map7#.png); _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='image', src='../images/ui/map1/#map7#.png'));
"></div></div>	

	
<div style="position:absolute;left:166px;top:136px;border:0px;cursor:pointer;" title="死亡沙漠" onclick="copyWord('死亡钥匙');goMap(#8#,8);">
<div style="width:83px; height:24px;background:url(../images/ui/map1/#map8#.png); _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='image', src='../images/ui/map1/#map8#.png'));
"></div></div>
		

<div style="position:absolute;left:126px;top:271px;border:0px;cursor:pointer;" title="海市盛楼" onclick="copyWord('海蛰钥匙');goMap(#9#,9);">
<div style="width:83px; height:24px;background:url(../images/ui/map1/#map9#.png); _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='image', src='../images/ui/map1/#map9#.png'));
"></div></div>

	
<div style="position:absolute;left:688px;top:82px;border:0px;cursor:pointer;" title="冰滩" onclick="copyWord('冰滩钥匙');goMap(#10#,10);">
<div style="width:83px; height:24px;background:url(../images/ui/map1/#map10#.png); _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='image', src='../images/ui/map1/#map10#.png'));
"></div></div>

<div style="position:absolute; left:747px; top:147px; border:0px; cursor:pointer; width: 35px; height:32px" title="切换地图" onclick="copyWord('切换地图');window.parent.$('gw').src='./function/Exporenew_Mod.php?op=cmp&n=2';">
<img src="../images/ui/map/arrr.gif" alt='切换地图'/></div>

<div style="position:absolute; left:420px; top:8px; border:0px; cursor:pointer; width: 15px;" title="切换地图" onclick="copyWord('切换地图');window.parent.$('gw').src='./function/Exporenew_Mod.php?op=cmp';">
<img src="../images/ui/map/up.gif" alt='切换地图'/></div>

<div id="sfk" style="position:absolute; cursor:pointer; left:22px; top:232px;" width=20 height=20 title="史芬克斯密穴" onclick="copyWord('史芬克斯密穴');fbMap(#13#)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

<div id="hlw" style="position:absolute; cursor:pointer; left:153px; top:32px;" width=20 height=20 title="火龙王的宫殿" onclick="copyWord('火龙王的宫殿');fbMap(#12#)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

<div id="ysw" style="position:absolute;cursor:pointer;left:695px;top:226px;border:1;" width=20 height=20 title="辉煌的大道" onclick="copyWord('辉煌的大道');fbMap(#11#)";>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

<div id="llc" style="position:absolute;cursor:pointer;left:523px;top:38px;border:1;" width=20 height=20 title="玲珑城" onclick="copyWord('玲珑城');fbMap(#14#)";>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>



<!--div id="battlefield" style="position:absolute; cursor:pointer; width:142px; height:36px; left: 507px; top: 192px;" onclick="copyWord('神圣战场');window.parent.$('gw').src='./function/guild_battle_mod.php';">&nbsp;&nbsp;&nbsp;&nbsp;家族战场</div-->

<div id="battlefield" style="position:absolute; cursor:pointer; width:77px; height:28px; left: 507px; top: 285px;" onclick="copyWord('神圣战场');window.parent.$('gw').src='./function/zcrk.php';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>


<!--div style="position:absolute; left:527px; top:94px; border:0px; cursor:pointer; line-height:23px" title="圣诞小屋" onclick="copyWord('圣诞小屋');window.parent.$('gw').src='./function/tarot_Mod.php';">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;塔罗牌</div-->

<div style="position:absolute; left:663px; top:175px; border:0px; cursor:pointer; line-height:23px; width: 74px;" title="女神要塞" onclick="copyWord('女神要塞');window.parent.$('gw').src='./function/fortress_Mod.php';">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

<div style="position:absolute; left:535px; top:177px; border:0px; cursor:pointer; line-height:23px; width: 87px;" title="遗忘的宫殿" onclick="copyWord('遗忘的宫殿');window.parent.$('gw').src='./function/Team_Mod.php?n=128';">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

<div style="position:absolute; left:367px; top:95px; border:0px; cursor:pointer; line-height:23px" title="圣诞小屋" onclick="copyWord('圣诞小屋');window.parent.$('gw').src='./function/Team_Mod.php?n=15';">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
</body>
</html>
<script language="javascript" type="text/javascript">
	function goMap(n,t)
	{
		//if(n==0) 
		//{
			//if(confirm('您还没有打开该地图，要使用钥匙打开吗？')==true)
			//{
				//openMap(t);
			//}
			//else return;
		//}
		//else
		//{
			var opt = {
    		 	method: 'get',
				 onSuccess: function(e) {
					//window.parent.Alert(t.responseText);
					var v = e.responseText;
					if(isNaN(v))
					{
						if(!confirm(v))
						{
							return false;
						}
						var opt = {
						method: 'get',
						onSuccess: function(f) {
						//window.parent.Alert(t.responseText);
							var v = parseInt(f.responseText);
							if(v == 11)
							{
								window.parent.Alert("开启地图成功！");
								window.parent.$('gw').src='./function/Team_Mod.php?n='+t;
							}
						},
							on404: function(f) {
							},
							onFailure: function(f) {
							},
							asynchronous:true        
						}
						//window.status = '../function/mapGate.php?type=1&n='+n;return false;
						var ajax=new Ajax.Request('../function/mapGate.php?type=2&n='+t, opt);
					}
					else if(v == 10)
					{
						window.parent.$('gw').src='./function/Team_Mod.php?n='+t;
					}
					else if(v == 1)
					{
						window.parent.Alert("地图数据错误！");
					}
					else if(v == 2)
					{
						window.parent.Alert("您的当前威望不够！");
					}
					else if(v == 3)
					{
						window.parent.Alert("您没有这个物品！");
					}
					else if(v == 12)
					{
						if(n==0) 
						{
							if(confirm('您还没有打开该地图，要使用钥匙打开吗？')==true)
							{
								openMap(t);
							}
							else return;
						}
						else
						{
							window.parent.$('gw').src='./function/Team_Mod.php?n='+t;
						}
					}
    		 	},
    		 	on404: function(e) {
    		 	},
    		 	onFailure: function(e) {
    		 	},
    		 	asynchronous:true        
			}
			//window.status = '../function/mapGate.php?type=1&n='+t;return false;
			var ajax=new Ajax.Request('../function/mapGate.php?type=1&n='+t, opt);
			/*if(!confirm(""))
			{
				return false;
			}
			window.parent.$('gw').src='./function/Team_Mod.php?n='+n;*/
		//}
	}
	
	//副本地图判断
	function fbMap(id)
	{
		if(id != "")
		{
			window.parent.$('gw').src = './function/fb_Mod.php?mapid='+id;
		}
	}
	// Add by DuHao 2009-5-13
function copyWord(words)
{
	window.parent.$('baike_input').value=words;
}
</script> 
