<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<script language="javascript" src="../javascript/prototype.js"></script>
<title></title>
<link href="../css/iframe.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body {
	margin-left: 3px;
	margin-top: 3px;
	
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 12px;
}
a {
	font-size: 12px;
}
-->
</style>
<script type="text/JavaScript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>
</head>
<!--[if IE 6]>
<script type="text/javascript">try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {}
</script>
<![endif]-->
<script language="javascript">
var bid=0;// bag物品ID。
var selid=0;
var types=-1;
var pid = 0;
</script>
<body>
<table width="778" height="311" border="0" cellpadding="0" cellspacing="0" bgcolor="#F3EDC9">
  <tr>
    <td width="140" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="../images/ui/pai/pm07.gif" width="140" height="149"></td>
      </tr>
      <tr>
        <td height="176" align="left" valign="top" background="../images/ui/shop/gm02.gif"><div style="width:95%;padding:3px;color:#7a4f27; line-height:1.7;font-size:12px;margin-left:3px;height:150px; overflow:auto;scrollbar-face-color:#E1D395;scrollbar-highlight-color:#ffffff;scrollbar-3dlight-color:#E1D395;scrollbar-shadow-color:#ffffff;scrollbar-darkshadow-color:#F3EDC9;scrollbar-track-color:#F3EDC9;scrollbar-arrow-color:#ffffff;">
				#word#
			</div></td>
      </tr>
    </table></td>
    <td valign="top" ><div id="tag1" style="position:absolute; left:209px; top:15px; z-index:3; color:#F1EABA; font-weight:bold; width: 111px;">
      <table width="107" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="12"><img src="../images/ui/shop/gm03.gif" width="12" height="25" /></td>
          <td align="right" valign="middle" onclick="copyWord('我拍卖的道具');" background="../images/ui/shop/gm05.gif" style="color:#3F3706"><b>我拍卖的道具</b></td>
          <td width="12"><img src="../images/ui/shop/gm04.gif" width="12" height="25" /></td>
        </tr>
      </table>
    </div>
    <div id="tag2" style="position:absolute;left:141px;top:15px;z-index:1;">
          <table width="100" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="12"><img src="../images/ui/shop/gm07.gif" width="12" height="25" /></td>
              <td align="left" valign="middle" background="../images/ui/shop/gm08.gif" onclick="copyWord('道具拍卖');window.parent.$('gw').src='./function/Pai_Mod.php?op=cmp';" style="cursor:pointer;color:#F1EABA"><b>道具拍卖</b></td>
              <td width="12"><img src="../images/ui/shop/gm06.gif" width="12" height="25" /></td>
            </tr>
          </table>
	  </div>
		
		<div style="width:635px; height:288px; background-color:#DFD496; position:absolute; top: 38px; left: 143px;">
			<div style="width:304px; height:275px; position:absolute; left: 10px;">
				<img src="../images/ui/shop/gm09.gif" /><br/>
				<div style='position:absolute; text-align:left; font-size:12px; line-height:1.5; width:300px; height:235px; color:#BF7D1A; border:1px solid #C6B764; background-color:#fff; top: 29px;'>
		  <table width="100%" border="0" cellspacing="0" cellpadding="2" background="#ffffff">
            <tr>
              <td width="40%" style="border-bottom:solid #C6B764 1px;">名称</td>
              <td width="30%" style="border-bottom:solid #C6B764 1px;">拍卖价格</td>
              <td width="30%" style="border-bottom:solid #C6B764 1px;">到期时间</td>
            </tr>
            <tr>
              <td colspan="3" style="padding-left:0px;">
			  	<div style="width:100%;text-align:left;font-size:12px; line-height:1.5;height:205px;overflow:auto;sscrollbar-face-color:#E1D395;scrollbar-highlight-color:#ffffff;scrollbar-3dlight-color:#E1D395;scrollbar-shadow-color:#ffffff;scrollbar-darkshadow-color:#F3EDC9;scrollbar-track-color:#F3EDC9;scrollbar-arrow-color:#ffffff;cursor:default;color:#BF7D1A;margin-left:3px;" id="shoplist">
				<table width="93%" border="0" cellspacing="0" cellpadding="2" background="#ffffff">
            #myshoplist#
			</table>
				</div>
			  </td>
            </tr>
		
          </table>
		  </div>
		</div>
		
		<!-- self -->
		<div style="width:284px; height:275px; position:absolute; left: 325px;color:#5B5017;">
				<img src="../images/ui/shop/gm10.gif" />
		  <div style="width:191px; height:24px; position:absolute;z-index:2; left: 121px; top:4px;"> <font color="red"><b>分类查看: </b></font>
		      <select name="menu2" onchange="MM_jumpMenu('self',this,0)">
                #bagoption#
              </select>
	      </div>
				<br/>
				<div style='position:absolute;text-align:left;font-size:12px; line-height:1.5;width:300px;height:235px;color:#BF7D1A; border:1px solid #C6B764; background-color:#fff'>
		  <table width="100%" border="0" cellspacing="0" cellpadding="2" background="#ffffff">
            <tr>
              <td width="40%" style="border-bottom:solid #C6B764 1px;">名称</td>
              <td width="30%" style="border-bottom:solid #C6B764 1px;">卖出金币</td>
              <td width="30%" style="border-bottom:solid #C6B764 1px;">数量</td>
            </tr>
            <tr>
              <td colspan="3" style="padding-left:0px;">
			  	<div style="width:100%;text-align:left;font-size:12px; line-height:1.5;height:205px;overflow:auto;scrollbar-face-color:#E1D395;scrollbar-highlight-color:#ffffff;scrollbar-3dlight-color:#E1D395;scrollbar-shadow-color:#ffffff;scrollbar-darkshadow-color:#F3EDC9;scrollbar-track-color:#F3EDC9;scrollbar-arrow-color:#ffffff;cursor:default;color:#BF7D1A;margin-left:3px;" id="mybag">
				<table width="93%" border="0" cellspacing="0" cellpadding="2" background="#ffffff">
             		#mybag#
				</table>
				</div>
			  </td>
            </tr>
		
          </table>
		  </div>
	    </div>
		<!-- self end-->
		
		<!-- left option.-->
		<div style="position:absolute;left:9px;width:419px;height:15px;top:267px;padding:2px;color:#AB833C; text-align:left" id="ltool">
		 	<span>
			拍卖所资金:#paimoney#
			</span>
            <input name="button" type="button" style="background-image:url(../images/ui/shop/gm13.gif);border:0px;width:39px;height:15px;color:#2F291D;"  onclick="get();" value="取物"/>
			<input name="button" type="button" style="background-image:url(../images/ui/shop/gm13.gif);border:0px;width:39px;height:15px;color:#2F291D;"  onclick="sale();" value="续拍"/>
			 <input name="button" type="button" style="background-image:url(../images/ui/shop/gm13.gif);border:0px;width:39px;height:15px;color:#2F291D;"  onclick="money();" value="取钱"/>
  &nbsp;&nbsp; 背包格子数：#baglimit# </div>
		<!-- left option end.-->
		
		<!-- right option.-->
		<!-- right option end.-->
      </div>
    <div id="tag" style="position:absolute; left:527px; top:15px; z-index:1; width: 200px;"><img src="../images/ui/shop/gm12.gif" />元宝：#yb# <img src="../images/ui/shop/gm11.gif" />金币：<span id="mny">#money#</span> </div></td>

  </tr>
</table>

<div style="position:absolute; left: 20px; top: 308px; width: 44px;">
	<input name="button" type="button" style="background-image:url(../images/ui/shop/gm13.gif);border:0px;width:39px;height:15px;color:#2F291D;cursor:pointer;"  onclick="window.parent.$('gw').src='./function/City_Mod.php';" value="离开"/>
</div>

</body>
</html>
<script language="javascript">
// Add by DuHao 2009-5-13
function copyWord(words)
{
	window.parent.$('baike_input').value=words;
}
function sel(obj)
{
	if(selid!=0) selid.style.backgroundColor='#fff';
	selid=obj;
	obj.style.backgroundColor='#DFD496';
}

function get(){
	if(bid == 0){window.parent.Alert('请先选择要取回的物品。');return;}
	else{
		if(confirm('你确定取回选中的物品吗?'))
		{
			var opt = {
    		 	method: 'get',
				 onSuccess: function(t) {
			 		var n=parseInt(t.responseText);
					if(n==0) window.parent.Alert('信息有误！');
					else if(n==1) {window.parent.Alert('包裹空间不足！');}
					else if(n==2) {window.parent.Alert('包裹已卖出！');}
					else if(n==100) {window.parent.Alert('您操作太快，请稍侯再试！');}
					else if(n==3) {window.parent.Alert('取回包裹成功！');window.location.reload();}
					else {
					window.parent.Alert('信息有误！');}
    		 	},
    		 	on404: function(t) {
    		 	},
    		 	onFailure: function(t) {
    		 	},
    		 	asynchronous:true        
			}
			//window.status = bid;
			var ajax=new Ajax.Request('../function/paiPropsGate.php?bid='+bid,opt);
		}
		else return;
	}
}

function sale(){
	if(bid == 0){window.parent.Alert('请先选择要继续拍卖的物品。');return;}
	else{
		if(confirm('你确定继续拍卖选中的物品吗?'))
		{
			var opt = {
    		 	method: 'get',
				 onSuccess: function(t) {
			 		var n=parseInt(t.responseText);
					if(n==0) window.parent.Alert('正在拍卖中！');
					else if(n==1) {window.parent.Alert('操作有误！');}
					else if(n==100) {window.parent.Alert('您操作太快，请稍侯再试！');}
					else if(n==5) {window.parent.Alert('继续拍卖成功！');window.location.reload();}
					else {
					window.parent.Alert('信息有误！');}
    		 	},
    		 	on404: function(t) {
    		 	},
    		 	onFailure: function(t) {
    		 	},
    		 	asynchronous:true        
			}
			var ajax=new Ajax.Request('../function/paiPropsGate.php?action=sale&bid='+pid,opt);
		}
		else return;
	}
}

function money()
{
	if(confirm('你确定取回拍卖所的钱吗?\n金币的最大数目是十亿。'))
	{
		var opt = {
    		 	method: 'get',
				 onSuccess: function(t) {
				 var n=parseInt(t.responseText);
				 if(n == 1)
				 {
				 	window.parent.Alert("取钱成功!");
					window.location.reload();
				 }
				 else if(n==100) {window.parent.Alert('您操作太快，请稍侯再试！');}
				 else
				 {
				 	window.parent.Alert('您的拍卖所的钱为0！');
				 }
			 }
		 }
		 var ajax=new Ajax.Request('../function/paiPropsGate.php?action=money',opt);
	}
}

function ajaxfun()
{
	var opt = {
     	method: 'get',
		onSuccess: function(t) {
			 		$('mybag').innerHTML=t.responseText;
    		 	},
     	asynchronous:true        
	}
	var ajax=new Ajax.Request('../function/getBag.php', opt);
}


var equipInfos = {};
var LastKey = "";
if(!document.all){
	var Event;
	window.onmousemove = function(){
							Event = event;
					}
}
function showTip(id,bid,sign,type)
{
	if(!document.all){
		var x=Event.x;
		var y=Event.y;
	}else{
		var x=event.x;
		var y=event.y;
	}
	var key = id+"_"+bid+"_"+sign+"_"+type;
	if(typeof(equipInfos[key])!='undefined'){
		window.parent.showTips(equipInfos[key],x,y);
		return;
	}
	if(LastKey==key){
		return;
	}
	LastKey=key;
	var opt = {
				method: 'get',
				 onSuccess: function(t) {
				 	equipInfos[key] = t.responseText;
					window.parent.showTips(t.responseText,x,y);
				},
				on404: function(t) {
				},
				onFailure: function(t) {
				},
				asynchronous:true        
			}
	var ajax=new Ajax.Request('../function/getPropsInfo.php?id='+id+'&bid='+bid+'&sign='+sign+'&type='+type, opt);
}
</script>
