<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<script language="javascript" src="../javascript/prototype.js"></script>
<title></title>
<link href="../css/iframe.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body {
	margin-left: 3px;
	margin-top: 3px;
	
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 12px;
}
a {
	font-size: 12px;
}
.a1 {
	background-image: url(..//image/ay02.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.STYLE1 {color: #FF0000}
-->
</style></head>
<!--[if IE 6]>
<script type="text/javascript">try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {}
</script>
<![endif]-->
<body>
<table width="778" height="311" border="0" cellpadding="0" cellspacing="0" bgcolor="F3EDC9">
  <tr>
    <td width="140" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="../images/ui/king/hg04.gif" width="140" height="149"></td>
      </tr>
      <tr>
        <td height="176" align="left" valign="top" background="../images/ui/shop/gm02.gif"><div style="width:95%;padding:3px;color:#7a4f27; line-height:1.7;font-size:12px;margin-left:3px;height:150px; overflow:auto;scrollbar-face-color:#DFDABC;scrollbar-highlight-color:#ffffff;scrollbar-3dlight-color:#DFDABC;scrollbar-shadow-color:#ffffff;scrollbar-darkshadow-color:#DFDABC;scrollbar-track-color:#DFDABC;scrollbar-arrow-color:#ffffff;">
				#word#
			</div></td>
      </tr>
    </table></td>
    <td valign="top" >
		
	<div id="tag1" style="position:absolute;left:141px;top:15px;z-index:3; color:#F1EABA;font-weight:bold">
          <table width="100" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="12"><img src="../images/ui/shop/gm07.gif" width="12" height="25" /></td>
              <td align="center" valign="middle" background="../images/ui/shop/gm08.gif" onclick="copyWord('殿堂任务');window.parent.$('gw').src='./function/King_Mod.php'" style="cursor:pointer;"><b>殿堂任务</b></td>
              <td width="12"><img src="../images/ui/shop/gm06.gif" width="12" height="25" /></td>
            </tr>
          </table>
	  </div>
	
	 <div id="tag2" style="position:absolute;left:221px;top:15px;z-index:4; color:#F1EABA;font-weight:bold">
          <table width="100" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="12"><img src="../images/ui/shop/gm03.gif" width="12" height="25" /></td>
              <td align="center" valign="middle" background="../images/ui/shop/gm05.gif" style="color:#3F3706" onclick="copyWord('知识问答');"><b>知识问答</b></td>
              <td width="12"><img src="../images/ui/shop/gm04.gif" width="12" height="25" /></td>
            </tr>
          </table>
	  </div>
	  
		<div id="tag3" style="position:absolute;left:292px;top:15px;z-index:2; color:#F1EABA;font-weight:bold">
          <table width="100" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="12"><img src="../images/ui/shop/gm07.gif" width="12" height="25" /></td>
              <td align="right" valign="middle" background="../images/ui/shop/gm08.gif" onclick="copyWord('家族管理');">家族管理</td>
              <td width="12"><img src="../images/ui/shop/gm06.gif" width="12" height="25" /></td>
            </tr>
          </table>
	  </div>
	  
	  <div id="tag3" style="position:absolute;left:363px;top:15px;z-index:1; color:#F1EABA;font-weight:bold">
          <table width="100" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="12"><img src="../images/ui/shop/gm07.gif" width="12" height="25" /></td>
              <td align="right" valign="middle" background="../images/ui/shop/gm08.gif" onclick="copyWord('交纳威望');window.parent.$('gw').src='./function/KinPrestige_Mod.php'" style="cursor:pointer;">交纳威望</td>
              <td width="12"><img src="../images/ui/shop/gm06.gif" width="12" height="25" /></td>
            </tr>
          </table>
	  </div>

		<div style="width:635px; height:294px; background-color:#DFD496; position:absolute; top: 33px; left: 143px;">
			<table width="779" border="0" align="left" cellpadding="0" cellspacing="0" bgcolor="F5EDBF">
  <tr>
    <td height="285" align="left" valign="middle" style="padding-left:10px;"><table width="622" height="248" cellpadding="0" cellspacing="0" 

style="border:1px solid #b4a449;">
      <tr>
        <td valign="top" bgcolor="FFFCEB"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="450"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="35" height="30" align="center" valign="middle"><img src="../images/ui/aoyun/ay01.jpg" width="20" 

height="22"></td>
                    <td>&nbsp;<b>答题说明</b></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td width="1" bgcolor="B4A449"></td>
              </tr>
              <tr>
                <td height="210" align="left" valign="top" class="a1">
					<div style="width:95%;padding:3px;color:#7a4f27; line-height:1.7;font-size:12px;margin-left:3px;height:200px; overflow:auto;scrollbar-face-color:#DFDABC;scrollbar-highlight-color:#ffffff;scrollbar-3dlight-color:#DFDABC;scrollbar-shadow-color:#ffffff;scrollbar-darkshadow-color:#DFDABC;scrollbar-track-color:#DFDABC;scrollbar-arrow-color:#ffffff;">
                    <br/>
					#anounce_msg#					
					</div>
				</td>
              </tr>
            </table></td>
            <td><table width="100%" height="200" border="0" cellpadding="0" cellspacing="5">
              <tr>
                <td align="center" valign="middle"><img src="../images/ui/aoyun/ay03.jpg" width="121" height="75" style="cursor:pointer;" onclick="answer()"></td>
              </tr>
              <tr>
                <td align="center" valign="middle" style="cursor:pointer" onclick="getResult1()">
				
			<img src="../images/ui/aoyun/ay04.jpg" width="121" height="75" #active#>
				
				</td>
              </tr>
            </table><table width="100%" height="25" border="0" cellpadding="0" cellspacing="5">
              <tr>
                <td align="center" valign="middle"><span class="STYLE1">累计答对次数：#oksum#</span></td>
              </tr>
              
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
		
      </div>
	</td>
  </tr>
</table>

<div style="position:absolute; left: 6px; top: 308px; width: 125px;">
	<input name="button" type="button" style="background-image:url(../images/ui/shop/gm13.gif);border:0px;width:39px;height:15px;color:#2F291D;cursor:pointer;"  onclick="window.parent.$('gw').src='./function/City_Mod.php';" value="离开"/> 
</div>
</body>
</html>

<script>
// Add by DuHao 2009-5-13
function copyWord(words)
{
	window.parent.$('baike_input').value=words;
}
// Get aoyun result.
function getResult1()
{
	var opt = {
    		 	method: 'get',
				 onSuccess: function(t) {
				 	var n = t.responseText;
					if(n == "10")
					{
						window.parent.Alert("请完成所有答题再领取奖励。");
					}
					else if(n == "100")
					{
						window.parent.Alert("活动已关闭！");
					}
					else
					{
						window.parent.Alert(n);
					}
    		 	},
    		 	on404: function(t) {
    		 	},
    		 	onFailure: function(t) {
    		 	},
    		 	asynchronous:true        
			}
	var ajax=new Ajax.Request('../function/ext_Aoyun.php', opt);
}
function getResult()
{
	/*var opt = {
    		 	method: 'get',
				 onSuccess: function(t) {
					window.parent.Alert(t.responseText);
    		 	},
    		 	on404: function(t) {
    		 	},
    		 	onFailure: function(t) {
    		 	},
    		 	asynchronous:true        
			}
	var ajax=new Ajax.Request('../function/ext_Aoyun.php', opt);*/
}

function answer()
{
	var opt = {
    		 	method: 'get',
				 onSuccess: function(t) {
				 	var n = t.responseText;
					if(n == "1")
					{
						window.location.href='../function/Aoyunti_Mod.php';
					}
					else if(n == "100")
					{
						window.parent.Alert("活动已关闭！");
					}
					else
					{
						window.parent.Alert("不在答题时间,答题时间详见答题说明");
					}
    		 	},
    		 	on404: function(t) {
    		 	},
    		 	onFailure: function(t) {
    		 	},
    		 	asynchronous:true        
			}
	var ajax=new Ajax.Request('../function/ext_Aoyun.php?action=answer', opt);
}

</script>