<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<script language="javascript" src="../javascript/prototype.js"></script>
<title></title>
<link href="../css/iframe.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body {
	margin-left: 3px;
	margin-top: 3px;
	
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 12px;
}
a {
	font-size: 12px;
}
-->
</style></head>
<!--[if IE 6]>
<script type="text/javascript">try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {}
</script>
<![endif]-->
<body>
<table width="778" height="311" border="0" cellpadding="0" cellspacing="0" bgcolor="F3EDC9">
  <tr>
    <td width="140" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="../images/ui/king/hg04.gif" width="140" height="149"></td>
      </tr>
      <tr>
        <td height="176" align="left" valign="top" background="../images/ui/shop/gm02.gif"><div style="width:95%;padding:3px;color:#7a4f27; line-height:1.7;font-size:12px;margin-left:3px;height:150px; overflow:auto;scrollbar-face-color:#DFDABC;scrollbar-highlight-color:#ffffff;scrollbar-3dlight-color:#DFDABC;scrollbar-shadow-color:#ffffff;scrollbar-darkshadow-color:#DFDABC;scrollbar-track-color:#DFDABC;scrollbar-arrow-color:#ffffff;">
				#word#
			</div></td>
      </tr>
    </table></td>
    <td valign="top" >
	
	<div id="tag1" style="position:absolute;left:141px;top:15px;z-index:1; color:#F1EABA;font-weight:bold">
          <table width="100" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="12"><img src="../images/ui/shop/gm07.gif" width="12" height="25" /></td>
              <td align="right" valign="middle" background="../images/ui/shop/gm08.gif" onclick="copyWord('殿堂任务');window.parent.$('gw').src='./function/King_Mod.php'" style="cursor:pointer;">殿堂任务</td>
              <td width="12"><img src="../images/ui/shop/gm06.gif" width="12" height="25" /></td>
            </tr>
          </table>
	  </div>
	
	 <div id="tag2" style="position:absolute;left:221px;top:15px;z-index:3; color:#F1EABA;font-weight:bold">
          <table width="100" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="12"><img src="../images/ui/shop/gm06.gif" width="12" height="25" /></td>
              <td align="center" valign="middle" background="../images/ui/shop/gm08.gif" onclick="copyWord('知识问答');window.parent.$('gw').src='./function/Aoyun_Mod.php'" style="cursor:pointer;">知识问答</td>
              <td width="12"><img src="../images/ui/shop/gm06.gif" width="12" height="25" /></td>
            </tr>
          </table>
	  </div>
	  
		<div id="tag3" style="position:absolute;left:292px;top:15px;z-index:2; color:#F1EABA;font-weight:bold">
          <table width="100" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="12"><img src="../images/ui/shop/gm07.gif" width="12" height="25" /></td>
              <td align="right" valign="middle"  onclick="copyWord('家族管理');" background="../images/ui/shop/gm08.gif">家族管理</td>
              <td width="12"><img src="../images/ui/shop/gm06.gif" width="12" height="25" /></td>
            </tr>
          </table>
	  </div>
	  
	  <div id="tag3" style="position:absolute;left:363px;top:15px;z-index:4; color:#F1EABA;font-weight:bold">
          <table width="100" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="12"><img src="../images/ui/shop/gm03.gif" width="12" height="25" /></td>
              <td align="center" valign="middle"  onclick="copyWord('交纳威望');" background="../images/ui/shop/gm05.gif"style="color:#3F3706"><b>交纳威望</b></td>
              <td width="12"><img src="../images/ui/shop/gm04.gif" width="12" height="25" /></td>
            </tr>
          </table>
	  </div>
		
	  <div style="width:635px; height:288px; background-color:#DFD496; position:absolute; top: 38px; left: 143px;">
			<div style="width:618px; height:275px; position:absolute; left: 10px;">
				<p><p>
				<div style='position:absolute;text-align:left;font-size:12px; line-height:1.5;width:615px;height:235px;color:#BF7D1A; border:1px solid #C6B764; background-color:#fff'>
		  <table width="100%" height="238" border="0" cellpadding="2" cellspacing="0" background="#ffffff">
            <tr>
              <td width="40%" style="border-bottom:solid #C6B764 1px;"><b><font color="#000000">&nbsp;威望说明：威望是玩家通过使用怪物掉落的各种威望卷轴而增加的属性。</font><br />
			  &nbsp;威望的作用：<br />
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）威望可以到道具店与铁匠铺购买相关的威望道具和装备。<br />
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）威望可以通过交纳到皇宫增加贵族威望。<br />
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3）某些任务也需要收取一定的威望才可以完成。（暂未开放）<br />
			  &nbsp;<font color="#FF0000">贵族威望的作用：<br />
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）贵族威望越高，完成某些任务得到的经验和奖励会越高。（暂未开放）</font><br />
			  <br /><br />
			  &nbsp;<font color="#006600">当前威望：#prestige#<br />
			  &nbsp;贵族威望：#jprestige#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#FF6699">交纳威望：
			  <input name="num" type="text" id="num" />
			  <b><font color="#FF6699">
			  <input type="button" name="Submit" value="确定" onclick="prestige()" />
			  </font></b></font></b></td>
              </tr>
          </table>
		  </div>
		</div>
		
		<!-- self -->
		<!-- self end-->
        <!-- left option.--><!-- left option end.-->
		
		<!-- right option.-->
		<!-- right option end.-->
      </div></td>
  </tr>
</table>

<div style="position:absolute; left: 6px; top: 308px; width: 125px;">
	<input name="button" type="button" style="background-image:url(../images/ui/shop/gm13.gif);border:0px;width:39px;height:15px;color:#2F291D;cursor:pointer;"  onclick="window.parent.$('gw').src='./function/City_Mod.php';" value="离开"/> 
	
</div>

</body>
</html>
<script language="javascript">
// Add by DuHao 2009-5-13
function copyWord(words)
{
	window.parent.$('baike_input').value=words;
}
function prestige()
{
	var num = $("num").value;
	if(num == "")
	{
		window.parent.Alert("请先填写您要缴纳的威望的数量！");
		return false;
	}
	else if(num < 1 || num > 10000)
	{
		window.parent.Alert("请输入1到10000的整数！");
		return false;
	}
	if(parseInt(num,10)!=num)
	{
		window.parent.Alert("不能交纳小数哦！");
		return false;
	}else{
		num = parseInt(num,10);
	}
	if(!confirm('您确认交纳'+num+'点威望吗？'))
	{
		return false;
	}
	var opt = {
    		 	method: 'get',
				 onSuccess: function(t) {
				 var n = parseInt(t.responseText);
				 if(n == 1)
				 {
				 	window.parent.Alert("请先填写您要缴纳的威望！");
				 }
				 else if(n == 2)
				 {
				 	window.parent.Alert("您当前威望没有这么多哦，忽悠我呢~");
				 }
				 else if(n == 10)
				 {
				 	window.parent.Alert('您已成功缴纳了'+num+'点威望！');
					window.location.reload();
				 }
				 else
				 {
				 	window.parent.Alert('缴纳失败！');
				 }
    		 	},
    		 	on404: function(t) {
    		 	},
    		 	onFailure: function(t) {
    		 	},
    		 	asynchronous:true        
			}
		var ajax=new Ajax.Request('../function/KinPrestigeGate.php?num='+num, opt);
}
</script>
